/* line 5, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.eot");
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-Thin.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 4, ../scss/_main.scss */
.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

/* line 9, ../scss/_main.scss */
body {
  min-width: 960px;
}

/* line 5, ../scss/_header.scss */
.header {
  color: #fff;
  background-color: #2c3e50;
  overflow: hidden;
}
/* line 9, ../scss/_header.scss */
.header .logo {
  float: left;
}
/* line 11, ../scss/_header.scss */
.header .logo a {
  height: 44px;
  display: block;
}
/* line 16, ../scss/_header.scss */
.header .nav {
  float: left;
  width: 71%;
  margin: 0 auto;
  text-align: center;
}
/* line 21, ../scss/_header.scss */
.header .nav ul > li {
  display: inline-block;
}
/* line 23, ../scss/_header.scss */
.header .nav ul > li a {
  display: block;
  padding: 15px 21px 0px 15px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}
/* line 30, ../scss/_header.scss */
.header .nav ul > li a:hover {
  color: #27ae60;
}
/* line 36, ../scss/_header.scss */
.header .button {
  display: block;
  float: right;
  margin: 4px 1px 0 0;
  padding: 10px 20px 10px 22px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #27ae60 0%, #239d56 100%);
  background-image: -moz-linear-gradient(top, #27ae60 0%, #239d56 100%);
  background-image: -o-linear-gradient(top, #27ae60 0%, #239d56 100%);
  background-image: -ms-linear-gradient(top, #27ae60 0%, #239d56 100%);
  background-image: linear-gradient(to bottom, #27ae60 0%, #239d56 100%);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 48, ../scss/_header.scss */
.header .button:hover {
  background-image: -webkit-linear-gradient(top, #36c773 0%, #31b367 100%);
  background-image: -moz-linear-gradient(top, #36c773 0%, #31b367 100%);
  background-image: -o-linear-gradient(top, #36c773 0%, #31b367 100%);
  background-image: -ms-linear-gradient(top, #36c773 0%, #31b367 100%);
  background-image: linear-gradient(to bottom, #36c773 0%, #31b367 100%);
}
/* line 52, ../scss/_header.scss */
.header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 4, ../scss/_banner.scss */
.banner {
  margin: 0 auto;
  max-width: 1350px;
  min-width: 960px;
  background: url(../img/banner_foto.jpg) no-repeat;
  overflow: hidden;
}
/* line 10, ../scss/_banner.scss */
.banner #slider-wrap {
  /* The shell slider and buttons */
  position: relative;
  max-width: 1350px;
  min-width: 960px;
}
/* line 14, ../scss/_banner.scss */
.banner #slider-wrap #slider {
  /* Slider shell */
  max-width: 1350px;
  min-width: 960px;
  height: 420px;
  overflow: hidden;
  position: relative;
}
/* line 20, ../scss/_banner.scss */
.banner #slider-wrap #slider .slide {
  /* Slide */
  max-width: 100%;
  height: 100%;
}

/* line 27, ../scss/_banner.scss */
.sli-links {
  /* Slide change buttons */
  position: absolute;
  top: 88.5%;
  left: 46.35%;
  margin-top: 10px;
  text-align: center;
}

/* line 34, ../scss/_banner.scss */
.sli-links .control-slide {
  margin: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../img/radioBg.png) center bottom no-repeat;
}

/* line 43, ../scss/_banner.scss */
.sli-links .control-slide:hover {
  cursor: pointer;
  background-position: center center;
}

/* line 47, ../scss/_banner.scss */
.sli-links .control-slide.active {
  background-position: center top;
}

/* line 50, ../scss/_banner.scss */
#prewbutton, #nextbutton {
  /* Link "Next" and "Previous" */
  display: block;
  width: 25px;
  height: 50px;
  position: absolute;
  top: 205px;
  overflow: hidden;
  text-indent: -999px;
  background: url(../img/arrowBg.png) left center no-repeat;
  opacity: 0.8;
  z-index: 3;
  outline: none !important;
}

/* line 63, ../scss/_banner.scss */
#prewbutton {
  left: 225px;
}

/* line 66, ../scss/_banner.scss */
#nextbutton {
  right: 225px;
  background: url(../img/arrowBg.png) right center no-repeat;
}

/* line 70, ../scss/_banner.scss */
#prewbutton:hover,
#nextbutton:hover {
  opacity: 1;
}

/* line 74, ../scss/_banner.scss */
.link-slider {
  display: block;
  position: absolute;
  top: 88px;
  left: 637px;
  width: 400px;
  height: 200px;
  font-family: "Roboto-Thin", Arial, Helvetica, sans-serif;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
  color: #555;
}
/* line 86, ../scss/_banner.scss */
.link-slider p {
  margin-bottom: 15px;
}

/* line 90, ../scss/_banner.scss */
.button-slide {
  margin: 4px 1px 0 0;
  padding: 8px 24px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #27ae60 0%, #239d56 100%);
  background-image: -moz-linear-gradient(top, #27ae60 0%, #239d56 100%);
  background-image: -o-linear-gradient(top, #27ae60 0%, #239d56 100%);
  background-image: -ms-linear-gradient(top, #27ae60 0%, #239d56 100%);
  background-image: linear-gradient(to bottom, #27ae60 0%, #239d56 100%);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 100, ../scss/_banner.scss */
.button-slide:hover {
  background-image: -webkit-linear-gradient(top, #36c773 0%, #31b367 100%);
  background-image: -moz-linear-gradient(top, #36c773 0%, #31b367 100%);
  background-image: -o-linear-gradient(top, #36c773 0%, #31b367 100%);
  background-image: -ms-linear-gradient(top, #36c773 0%, #31b367 100%);
  background-image: linear-gradient(to bottom, #36c773 0%, #31b367 100%);
}

/* line 4, ../scss/_content.scss */
.content {
  margin-top: 39px;
  margin-bottom: 75px;
}
/* line 7, ../scss/_content.scss */
.content .text {
  padding-top: 8px;
  width: 460px;
  float: left;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  font-size: 35px;
  line-height: 60px;
  color: #2c3e50;
}
/* line 15, ../scss/_content.scss */
.content .text h1 {
  margin-bottom: 15px;
}
/* line 18, ../scss/_content.scss */
.content .text p {
  font-size: 15px;
  line-height: 25px;
  color: #444;
}
/* line 24, ../scss/_content.scss */
.content .foto {
  float: right;
  width: 380px;
  height: 480px;
}
/* line 28, ../scss/_content.scss */
.content .foto span {
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #2c3e50;
}
/* line 33, ../scss/_content.scss */
.content .foto img {
  margin-top: 7px;
}
/* line 37, ../scss/_content.scss */
.content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 3, ../scss/_chosen.scss */
.side-by-side {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 18px;
}

/* @group Base */
/* line 11, ../scss/_chosen.scss */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 20, ../scss/_chosen.scss */
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../scss/_chosen.scss */
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

/* line 36, ../scss/_chosen.scss */
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}

/* line 39, ../scss/_chosen.scss */
.chosen-container a {
  cursor: pointer;
}

/* line 42, ../scss/_chosen.scss */
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}

/* line 50, ../scss/_chosen.scss */
.chosen-container .search-choice .group-name:after,
.chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
/* line 59, ../scss/_chosen.scss */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  border: 0px solid #aaa;
  margin: 0 auto;
  padding: 10px 0 10px 15px;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 3px 4px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 3px 4px -3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 3px 4px -3px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

/* line 76, ../scss/_chosen.scss */
.chosen-container-single .chosen-default {
  color: #999;
}

/* line 79, ../scss/_chosen.scss */
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  padding: 3px 0 7px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #555;
}

/* line 87, ../scss/_chosen.scss */
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}

/* line 90, ../scss/_chosen.scss */
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

/* line 100, ../scss/_chosen.scss */
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}

/* line 103, ../scss/_chosen.scss */
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}

/* line 106, ../scss/_chosen.scss */
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 29px;
  height: 100%;
}

/* line 114, ../scss/_chosen.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/arrow.png") no-repeat 0px 18px;
}

/* line 120, ../scss/_chosen.scss */
.chosen-container-single .chosen-search {
  display: none;
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

/* line 128, ../scss/_chosen.scss */
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url("chosen-sprite.png") no-repeat 100% -20px;
  background: url("chosen-sprite.png") no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

/* line 142, ../scss/_chosen.scss */
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}

/* line 147, ../scss/_chosen.scss */
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
/* line 154, ../scss/_chosen.scss */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0;
  max-height: 135px;
  -webkit-overflow-scrolling: touch;
}

/* line 164, ../scss/_chosen.scss */
.chosen-container .chosen-results li {
  display: list-item;
  /*display: none;*/
  margin: 0;
  border-top: 1px solid #c4c4c4;
  padding: 10px 0 15px 20px;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  font-size: 20px;
  list-style: none;
  /*line-height: 15px;*/
  word-wrap: break-word;
  -webkit-touch-callout: none;
  background-color: #fff;
  color: #555;
}

/* line 179, ../scss/_chosen.scss */
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

/* line 183, ../scss/_chosen.scss */
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* line 188, ../scss/_chosen.scss */
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}

/* line 197, ../scss/_chosen.scss */
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}

/* line 202, ../scss/_chosen.scss */
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

/* line 207, ../scss/_chosen.scss */
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}

/* line 210, ../scss/_chosen.scss */
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
/* line 217, ../scss/_chosen.scss */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}

/* line 234, ../scss/_chosen.scss */
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

/* line 238, ../scss/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 243, ../scss/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

/* line 257, ../scss/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}

/* line 278, ../scss/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}

/* line 281, ../scss/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

/* line 291, ../scss/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}

/* line 294, ../scss/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}

/* line 305, ../scss/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}

/* line 308, ../scss/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}

/* line 311, ../scss/_chosen.scss */
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}

/* line 315, ../scss/_chosen.scss */
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
/* line 323, ../scss/_chosen.scss */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 327, ../scss/_chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}

/* line 340, ../scss/_chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}

/* line 344, ../scss/_chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}

/* line 347, ../scss/_chosen.scss */
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 351, ../scss/_chosen.scss */
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
/* line 357, ../scss/_chosen.scss */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

/* line 361, ../scss/_chosen.scss */
.chosen-disabled .chosen-single {
  cursor: default;
}

/* line 364, ../scss/_chosen.scss */
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
/* line 370, ../scss/_chosen.scss */
.chosen-rtl {
  text-align: right;
}

/* line 373, ../scss/_chosen.scss */
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}

/* line 377, ../scss/_chosen.scss */
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}

/* line 382, ../scss/_chosen.scss */
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}

/* line 385, ../scss/_chosen.scss */
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}

/* line 389, ../scss/_chosen.scss */
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}

/* line 393, ../scss/_chosen.scss */
.chosen-rtl .chosen-choices li {
  float: right;
}

/* line 396, ../scss/_chosen.scss */
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}

/* line 399, ../scss/_chosen.scss */
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}

/* line 403, ../scss/_chosen.scss */
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

/* line 407, ../scss/_chosen.scss */
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}

/* line 411, ../scss/_chosen.scss */
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

/* line 415, ../scss/_chosen.scss */
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}

/* line 419, ../scss/_chosen.scss */
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}

/* line 422, ../scss/_chosen.scss */
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url("chosen-sprite.png") no-repeat -30px -20px;
  background: url("chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl;
}

/* line 428, ../scss/_chosen.scss */
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}

/* line 431, ../scss/_chosen.scss */
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 438, ../scss/_chosen.scss */
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */
/* line 5, ../scss/_contact.scss */
.contact {
  display: block;
  margin: 0 auto;
  padding-top: 80px;
  height: 441px;
  background: url(../img/bg_form.jpg) 100% 100% no-repeat;
  background-size: cover;
}
/* line 12, ../scss/_contact.scss */
.contact .form {
  margin: 0 auto;
  padding-top: 21px;
  width: 460px;
  height: 355px;
  background-color: #fff;
}
/* line 18, ../scss/_contact.scss */
.contact .form .title {
  display: block;
  margin-bottom: 25px;
  font-family: "Roboto-Thin", Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
}
/* line 25, ../scss/_contact.scss */
.contact .form input {
  width: 280px;
  display: block;
  margin: 0 auto;
  margin-bottom: 11px;
  padding: 10px 0 10px 15px;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 3px 4px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 3px 4px -3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 3px 4px -3px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}
/* line 39, ../scss/_contact.scss */
.contact .form input[type="email"]:focus,
.contact .form input[type="password"]:focus {
  outline: none;
  border: 1px solid #aaa;
}
/* line 45, ../scss/_contact.scss */
.contact .form input[type="email"]::-webkit-input-placeholder,
.contact .form input[type="password"]::-webkit-input-placeholder {
  color: #555;
}
/* line 49, ../scss/_contact.scss */
.contact .form input[type="email"]::-moz-placeholder,
.contact .form input[type="password"]::-moz-placeholder {
  color: #555;
}
/* line 55, ../scss/_contact.scss */
.contact .form .button {
  display: block;
  margin: 0 auto;
  padding: 13px 30px 13px 30px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #27ae60 0%, #239d56 100%);
  background-image: -moz-linear-gradient(top, #27ae60 0%, #239d56 100%);
  background-image: -o-linear-gradient(top, #27ae60 0%, #239d56 100%);
  background-image: -ms-linear-gradient(top, #27ae60 0%, #239d56 100%);
  background-image: linear-gradient(to bottom, #27ae60 0%, #239d56 100%);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 68, ../scss/_contact.scss */
.contact .form .button:hover {
  background-image: -webkit-linear-gradient(top, #36c773 0%, #31b367 100%);
  background-image: -moz-linear-gradient(top, #36c773 0%, #31b367 100%);
  background-image: -o-linear-gradient(top, #36c773 0%, #31b367 100%);
  background-image: -ms-linear-gradient(top, #36c773 0%, #31b367 100%);
  background-image: linear-gradient(to bottom, #36c773 0%, #31b367 100%);
}

/* line 4, ../scss/_footer.scss */
.footer {
  background-color: #2c3e50;
}
/* line 6, ../scss/_footer.scss */
.footer span {
  display: block;
  padding: 12px 0 16px;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  text-align: center;
}
