@import "_constants";
@import "_fonts";

.banner {
	margin: 0 auto;
	max-width: 1350px; 
	min-width: 960px;
	background: url(../img/banner_foto.jpg) no-repeat;
	overflow: hidden;
	#slider-wrap { /* The shell slider and buttons */
		position: relative;
		max-width: 1350px; 
		min-width: 960px;
		#slider { /* Slider shell */
			max-width: 1350px; 
			min-width: 960px;
			height: 420px;
			overflow: hidden;
			position:relative;
			.slide { /* Slide */
				max-width: 100%;
				height: 100%;
			}
		}
	}
}
.sli-links { /* Slide change buttons */
	position: absolute;
	top: 88.5%;
	left: 46.35%;
	margin-top:10px;
	text-align:center;
}
.sli-links .control-slide {
	margin: 2px;
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../img/radioBg.png) center bottom no-repeat;
}
.sli-links .control-slide:hover {
	cursor: pointer;
	background-position: center center;
}
.sli-links .control-slide.active {
	background-position: center top;
}
#prewbutton, #nextbutton { /* Link "Next" and "Previous" */
	display: block;
	width: 25px;
	height: 50px;
	position: absolute;
	top: 205px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../img/arrowBg.png) left center no-repeat;
	opacity: 0.8;
	z-index: 3;
	outline: none !important;
}
#prewbutton {
	left: 225px;
}
#nextbutton {
	right: 225px;
	background: url(../img/arrowBg.png) right center no-repeat;
}
#prewbutton:hover, 
#nextbutton:hover {
	opacity: 1;
}
.link-slider {
	display: block;
	position: absolute;
	top: 88px;
	left: 637px;
	width: 400px;
	height: 200px;
	font-family: "Roboto-Thin", Arial, Helvetica, sans-serif;;
	font-size: 55px;
	line-height: 65px;
	text-align: center;
	color: #555;
	p {
		margin-bottom: 15px;
	}
}
.button-slide {
		margin: 4px 1px 0 0;
		padding: 8px 24px;  
		font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;;
		font-size: 20px;
		@include border-radius(5px);
		@include background-image(#27ae60, #239d56);
		color: $link_color;	
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			@include background-image(#36c773, #31b367);
		}
}